<div class="container">
  <mat-toolbar>Arquitectura MicroServicios</mat-toolbar>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Spring Boot 4</mat-card-title>
      <mat-card-subtitle>Spring 2.3.4.RELEASE</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* Java SE 1.8</li>
          <li>* maven</li>
          <li>* spring-boot-starter-data-jpa</li>
          <li>* spring-boot-starter-web</li>
          <li>* spring-boot-starter-validation</li>
          <li>* springdoc-openapi-core</li>
          <li>* io.github.classgraph</li>
          <li>* springdoc-openapi-ui 1.1.49</li>
          <li>* spring-boot-devtools</li>
          <li>* spring-boot-starter-test</li>
        </ol>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Documentacion de Servicios</mat-card-title>
      <mat-card-subtitle>org.springdoc</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* springdoc-openapi-core</li>
          <li>* io.github.classgraph</li>
          <li>* springdoc-openapi-ui 1.1.49</li>
        </ol>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Hateoas</mat-card-title>
      <mat-card-subtitle>Nivel 3 Richardson</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* org.springframework.hateoas</li>
        </ol>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Jasper Reports</mat-card-title>
      <mat-card-subtitle>6.5.1</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* net.sf.jasperreports</li>
        </ol>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Seguridad</mat-card-title>
      <mat-card-subtitle>springframework</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* spring-boot-starter-security</li>
          <li>* spring-security-jwt 1.0.10.RELEASE</li>
          <li>* spring-security-oauth2 2.3.5.RELEASE</li>
        </ol>
      </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Correos</mat-card-title>
      <mat-card-subtitle>springframework</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* spring-boot-starter-mail</li>
          <li>* spring-boot-starter-thymeleaf</li>
        </ol>
      </mat-card-content>
  </mat-card>

</div>
