
<div class="pagina">
  <div class="contenido">
    <div class="elemento">
      ELEMENTO DE MENU :
    </div>
    <div class="elemento">
      DESCRIPCION
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Buscar:
    </div>
    <div class="descripcion">
      Se uliza para buscar la consulta que fue registrada mediante la aplicacion. Hay dos criterios por los que se puede hacer busqueda, por el registro DNI y nombre completo o por fecha de registro.
      Se obtiene una lista de registros que conciden con los parametros proporcionados.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Registrar:
    </div>
    <div class="descripcion">
      Se utiliza para registara una consulta, los parametros se seleccionan de las listas deplegables, medico, especialidad, paciente y la fecha se selecciona de un calendario, se puede agregar una serie de disgnosticos con su tratamiento, tambien se puede agregar mas de un examene. El boton de registro solo se habilita si todos los elementos fueron proporcionados.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento" style="width: 300px;">
      Registrar E:
    </div>
    <div class="descripcion">
      Es otra forma de registarar una consulta mediante elemetos de autocomplete para los parametos de medico y paciente y los parametros especialidad se selecciona de una lista desplegable, la fecha de un calendario, se puede agregar mas de un disgnosticos con su respectivo tratamiento, tambien se puede agregar mas de un examene. El boton de registro solo se habilita si todos los elementos fueron proporcionados.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento" style="width: 450px;">
      Registrar W:
    </div>
    <div class="descripcion">
      Es otra forma adicional de registarar una consulta mediante un wizard. El cual consta de 4 pasos para el registro de la consulta. En el primer paso se seleccionan el paciente y el medico de listas deplegables y la fecha se selecciona de un calendario, se puede agregar una serie de disgnosticos con su tratamiento, tambien se puede agregar mas de un examen. En el segundo paso se debe seleccionar un medico, En el tercer paso se debe seleccionar un consultorio. En el cuarto paso se hace la confirmacion de los datos ingresados y el boton de registro solo se habilita si todos los elementos fueron proporcionados.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Especialidades:
    </div>
    <div class="descripcion">
      En este apartado podemos agregar, modificar, y eliminar una especialidad con las que se cuentan en la aplicacion, si las especialidades son muchas se puede hacer una busqueda en la barra superior de la tabla o de lo contrario paginar hasta encontrar la opcion deseada.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Medicos:
    </div>
    <div class="descripcion">
      En este apartado podemos agregar, modificar, y eliminar los medicos que pueden ser seleccionados en el registro de una consulta, si los medico son muchas se puede hacer una busqueda en la barra superior de la tabla o de lo contrario paginar hasta encontrar el medico deseado.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Examenes:
    </div>
    <div class="descripcion">
      En este apartado podemos agregar, modificar, y eliminar los examenes que pueden ser seleccionados en el regiatro de una consulta, si los examenes son muchas se puede hacer una busqueda en la barra superior de la tabla o de lo contrario paginar hasta encontrar el examen deseado.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Pacientes:
    </div>
    <div class="descripcion">
      En este apartado de menu podemos agregar, modificar, y eliminar los pacientes que pueden ser seleccionados en el regiatro de una consulta, si los pacientes son muchas se puede hacer una busqueda en la barra superior de la tabla o de lo contrario paginar hasta encontrar el paciente deseado. En las acciones de la tabla de pacientes se tiene ademas el acceso al registro, modificacion y eliminacion de los signos vitales del paciente, el icono tambien mustra el numero de signos vitales que le han sido tomados.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Reportes:
    </div>
    <div class="descripcion">
      En este apartado de menu se encuentrantres elementos, un reporte pdf que se genera en automatico que corresponde a las consultas que se han registrado por fecha el cual se puede descargar o visualizar independientemente. Una grafica de consultas contra fechas. Un menu para seleccionar cargar visualizar y subir un archivo de imagen al servidor.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Menu secundario | Cerrar sesion:
    </div>
    <div class="descripcion">
      Este menu se encuentra en la parte superior derecha. El menu principal de este menu secundario tiene el elemento cerrar sesion, se utiliza para eliminar el token que se guarda al iniciar la sesion en la aplicacion.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Menu secundario | Configuracion | Usuarios:
    </div>
    <div class="descripcion">
      Este menu se encuentra en la parte superior derecha. Este sub menu usuarios, se utiliza para mostar los roles con los que cuenta el usuario, se pueden agregar, modificar y eliminar un usuario que podra acceder a la aplicacion, asi mismo se le pueden modificar los roles de acceso a la aplicacion.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Menu secundario | Configuracion | Roles:
    </div>
    <div class="descripcion">
      Este menu se encuentra en la parte superior derecha. Este sub menu roles , se utiliza para mostar, agregar, modificar y elimnar los role que con los que podran acceder los usuarios a la aplicacion.
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="contenido">
    <div class="elemento">
      Menu secundario | Configuracion | Menus:
    </div>
    <div class="descripcion">
      Este menu se encuentra en la parte superior derecha. Este sub menu menus , se utiliza para mostar, agregar, modificar y elimnar los menus del menu pricipal que podran ser visualizados y a los que podran acceder los usuarios dependiendo del rol del usuario en la aplicacion.
    </div>
  </div>

</div>
