<!-- <mat-toolbar>Registrar</mat-toolbar> -->
<div class="container">
    <mat-card>
        <mat-toolbar>Consulta</mat-toolbar>
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-select placeholder="Selecciona medico" [(value)]="idMedicoSeleccionado">
                        <mat-option *ngFor="let m of medicos$ | async" [value]="m.idMedico">
                            {{ m.nombres }} {{ m.apellidos }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="2">
                <fieldset class="fielset-izq">
                    <mat-form-field style="width: 80%; margin-left: 20px; ">
                        <input matInput placeholder="Diagnostico" [(ngModel)]="diagnostico" autocomplete="off"/>
                    </mat-form-field>
                    <mat-form-field style="width: 80%;  margin-left: 20px; " >
                        <textarea matInput placeholder="Tratamiento" [(ngModel)]="tratamiento" autocomplete="off"></textarea>
                    </mat-form-field>
                    <button mat-raised-button  color="primary" (click)="agregar()">Agregar Detalle</button>
                </fieldset>
                <fieldset class="fielset-der">
                    <mat-expansion-panel *ngFor="let d of detalleConsulta; let i = index">
                        <mat-expansion-panel-header>
                            <mat-panel-title> {{ i + 1 }} {{ d.diagnostico }} </mat-panel-title>
                            <mat-panel-description> Ver Tratamiento </mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <textarea matInput placeholder="Tratamiento" value="{{ d.tratamiento }}"></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="warn" (click)="removerDiagnostico(i)">Remover</button>
                    </mat-expansion-panel>
                </fieldset>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-select placeholder="Selecciona especialidad" [(value)]="idEspecialidadSeleccionado">
                        <mat-option *ngFor="let e of especialidades$ | async" [value]="e.idEspecialidad">
                            {{ e.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-select placeholder="Selecciona paciente" [(value)]="idPacienteSeleccionado">
                        <mat-option *ngFor="let p of pacientes$ | async" [value]="p.idPaciente">
                            {{ p.nombres }} {{ p.apellidos }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="2">
                <fieldset class="fielset-izq">
                    <mat-form-field style="width: 80%; margin-left: 20px;">
                        <mat-select placeholder="Selecciona examen" [(value)]="idExamenSeleccionado">
                            <mat-option *ngFor="let e of examenes$ | async" [value]="e.idExamen">
                                {{ e.nombre }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="agregarExamen()">Agregar Examen</button>
                </fieldset>

                <fieldset class="fielset-der">
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let ex of examenesSeleccionados; let i = index">
                            {{ ex.idExamen }} {{ ex.nombre }}
                            <span class="example-spacer"></span>
                            <button mat-raised-button color="warn" (click)="removerExamen(i)">Remover</button>
                        </mat-list-item>
                    </mat-list>
                </fieldset>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <input
                        matInput
                        [matDatepicker]="picker"
                        placeholder="Escoger una fecha dd/mm/yyyy"
                        [(ngModel)]="fechaSeleccionada"
                        [max]="maxFecha"
                    />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="4" [rowspan]="1">
                <button mat-raised-button color="primary" (click)="aceptar()" [disabled]="estadoBotonRegistrar()">
                    Registrar
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>

