<p class="barra">Arquitectura MicroServicios Rest</p>
<div class="container">

  <div class="element">
    <p>Java 8</p>
    <p>Angular 10</p>
    <p>Java Web Tocken</p>
    <p>Spring cloud</p>
    <p>Manejo de Excepciones con Codigos de Error Http</p>
    <p>Control de acceso a la App</p>
    <p>Control de Mensajes de Error en formularios</p>
    <p>Administracion de Usuarios y Contraseñas</p>
    <p>Administracion de Catalogos</p>
    <p>Uso de Genericos</p>
    <p>Aplicacion den capas: Controller, service, model, repo</p>
    <p>Recuperacion - Cambio de Contraseñas a travez de email</p>
  </div>


</div>
