/*https://stackoverflow.com/questions/53020792/how-to-set-width-of-mat-table-column-in-angular/53023265*/

/* .mat-form-field {
  font-size: 14px;
  width: 100%;
} */

table {
  width: 100%;
  margin-top: 10px;
}
/*
th {
  vertical-align: middle;
} */

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.search-form-field {
  width: 100%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fffdfd;
  border-radius: 5px;
}
