<router-outlet></router-outlet>
<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar" *ngIf="loginService.estaLogueado()">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <button mat-icon-button routerLink="/inicio">
          <mat-icon>home</mat-icon>
        </button>

        <h1 class="example-app-name">MEDIAPP</h1>

        <span class="example-spacer"></span>

        <mat-label class="label"> {{ usuarioLogeado  }}  {{ permisos }} </mat-label>


        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon >
                <span>Mi Perfil</span>
            </button> -->

            <!-- VISTO solo administradores-->
            <!-- <button mat-menu-item routerLink="/role">
              <mat-icon>settings</mat-icon >
              <span>Configuración</span>
           </button> -->

            <button mat-menu-item [matMenuTriggerFor]="seguridad">
              <mat-icon>settings</mat-icon > Configurción
            </button>
            <mat-menu #seguridad="matMenu">
              <!-- <button mat-menu-item routerLink="/menu_rol">
                <mat-icon>manage_accounts</mat-icon>
                  Menu - Rol
              </button> -->
              <!-- <button mat-menu-item routerLink="/usuario_rol_menu">
                <mat-icon>verified_user</mat-icon>
                  <span>Usuario - Rol - Menu</span>
                </button> -->

                <button mat-menu-item routerLink="/usuario">
                  <mat-icon>supervisor_account</mat-icon>
                  <span>Usuarios</span>
                </button>

                <button mat-menu-item routerLink="/roles">
                  <mat-icon>fingerprint</mat-icon>
                  <span>Roles</span>
                </button>

                <button mat-menu-item routerLink="/menus">
                  <mat-icon>menu</mat-icon>
                  <span>Menus</span>
                </button>

            </mat-menu>


            <button mat-menu-item (click)="sidenav.opened = false" (click)="loginService.cerrarSesion();">
                <mat-icon>power_settings_new</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="over">
            <img src="assets/mitocode.png" width="80px" style="margin-left: 40px">

            <div *ngFor="let m of menus">
                <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{m.url}}" style="cursor: pointer" >
                    <mat-icon>{{m.icono}}</mat-icon>
                    <span>{{m.nombre}}</span>
                </button>
                <mat-divider></mat-divider>
            </div>

<!--
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta-especial" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar E.</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta-wizard" style="cursor: pointer">
                <mat-icon>view_carousel</mat-icon>
                <span>Registrar W.</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidad" style="cursor: pointer">
                <mat-icon>star_rate</mat-icon>
                <span>Especialidades</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/medico" style="cursor: pointer">
                <mat-icon>healing</mat-icon>
                <span>Médicos</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examen" style="cursor: pointer">
                <mat-icon>assignment</mat-icon>
                <span>Examenes</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/paciente" style="cursor: pointer">
                <mat-icon>accessibility</mat-icon>
                <span>Pacientes</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer">
                <mat-icon>assessment</mat-icon>
                <span>Reportes</span>
            </button> -->
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
