<p class="barra">Arquitectura MicroServicios </p>
<div class="container">


  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Angular 10</mat-card-title>
      <mat-card-subtitle>Node 12.22.9</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li>* typescript 4.0.2</li>
          <li>* flex-layout 11.0.0-beta.33</li>
          <li>* material 11.0.1</li>
          <li>* angular jwt 5.0.2</li>
          <li>* chart 2.9.4</li>
          <li>* jquery 3.6.0</li>
          <li>* materialize-css 1.0.0</li>
          <li>* moment 2.29.4</li>
          <li>* material multilevel menu 5.5.3</li>
          <li>* pdf viewer 6.3.2</li>
          <li>* rxjs 6.6.0</li>
          <li>* tslib 2.0.0</li>
          <li>* zone 0.10.2</li>
        </ol>
      </mat-card-content>
  </mat-card>

</div>
